<p id="notice"><%= notice %></p>

<h1>Listing Animals</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Mood</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.the_type %></td>
        <td><%= animal.mood %></td>
        <td><%= link_to 'Show', animal, class:"btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path, class: "btn btn-primary" %>
