<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>The type:</strong>
  <%= @animal.the_type %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @animal.mood %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
